/* Reset CSS */
* {
    margin: 0; /* xoa margin mac dinh */
    padding: 0; /* xoa padding mac dinh */
    box-sizing: border-box; /* CSS tu can kich thuoc */
}

/* Body */
.container{

    width:100%;

    max-width: 1700px;

    margin:0 auto;

}

main {
    display: flex;
    flex-direction: column;

}

html {
    scroll-behavior: smooth; /* cuon muot */
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6; /* Khoang cach giua cac dong chu */
    background-color: #121212; /* Mau nen du phong kh loi img */ 
    color: #ffffff; /* Mau chu mac dinh */

    background-image: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), /* lam mo nen */
        url("../assets/images/background.jpg");

    background-size: cover; /* Phu kin toan bo man hinh (anh co the bi cat) */
    background-position: center; /* neu anh bi cat - lay center */
    background-attachment: fixed; /* Co dinh anh nen khi scroll */


}

/* Navbar */
.menu-btn{ 
    display:none; /* Khong hien khi o man hinh lap */
    cursor: pointer;
}

nav {

    display: flex; 
    justify-content: space-between; /* Tao khoang cach giua cac element trong nav */
    align-items: center; /* Can giua noi dung theo chieu doc */

    padding: 20px; /* tao khoang cach tren duoi trong khung navbar */

    background: rgba(18,18,18,0.85); /* tao mau nen cho navbar */

    border: 1px solid rgba(255,255,255,0.1); /* tao vien mong cho navbar (1px la do day vien) */

    backdrop-filter: blur(10px); /* lam mo nen sau navbar (10px la do mo nen) */

    border-radius: 20px; /* bo goc */

  

}

nav {
    position: sticky;
    top: 0;
    z-index: 9999;

    background: black;
    color: white;

    padding: 20px;
}

.nav-menu.active {
    display: flex;

}

nav ul {
    list-style: none;
    display: flex; /* mac dinh theo chieu ngang */
    gap: 20px; /* khoang cach giua cac li */
}

@keyframes logoMove {
    0% {
        transform: scale(1.01); 
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1.01);
    }
}


nav a.logo { /* Logo */
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    text-decoration: none; /* bo gach chan */
    text-shadow: 1px 2px 4px rgb(255, 208, 0);

    animation-name: logoMove;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

nav a.logo:hover {
    animation-name: logoMove;
    animation-play-state: paused;
    color: yellow;
}

nav a:hover {
    color: rgb(255, 123, 0); /* doi mau khi di chuot */
}
.nav-menu a {
    color: yellow;
    text-decoration: none;
}

.nav-menu button {
    background-color: rgba(0,0,0,.7);
    color: yellow;
    border-radius: 8px;
    font-size: 17px;
    padding: 2px;
    cursor: pointer;
}

.nav-menu ul {
    cursor: pointer;
}

.nav-menu .search-input {
    background-color: white;
}

.nav-menu .hidden {
    display: none;
}

.welcome-text.hidden{
    display:none;
}

.welcome-text {
    color: yellow;
    font-weight:bold;
}

/* Featured Anime (hero) */
.hero h2 {
    font-size: 50px;
    margin: 20px;
    color: yellow;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    height: 90vh; /* 90% chieu cao cua man hinh */

    display: block; /* tu xuong dong */

    display: flex; 
    flex-direction: column; /* trinh bay theo chieu doc */

    gap: 10px;
    margin-bottom: 40px;

    align-items: center;
    justify-content: center;

    text-align: center;

    animation: fadeUp 1s ease;

    max-width: 1800px;

    margin: 0 auto;
}


#featured-detail-btn {
    text-decoration: none;

    padding: 12px 30px;

    display: flex; 
    align-items: center;
    justify-content: center;

    background-color: yellow;
    color: black;

    border-radius: 25px;

    font-size: 18px;

    display: inline-block; /* cung hang nhung co the chinh khoang cach giua ca box */

    margin: 15px;

    cursor: pointer;
}

.featured-card {
    display: grid;

    grid-template-columns: 350px 1fr;

    grid-template-areas:
        "image title"
        "image description"
        "image button";

    padding: 20px;

    align-items: center;

    margin: 20px;

    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 10px;
}

.featured-image {
    grid-area: image;
}

#featured-title {
    grid-area: title;
}

#featured-description {
    grid-area: description;
}

#featured-detail-btn {
    grid-area: button;
}

.featured-card:hover{ /* hieu ung khi dua chuot vao card */

    transform:translateY(-8px); /* di chuyen len tren */

    transition:.3s;

}

.featured-card img{
    justify-content: flex-start;

    width:350px;

    height:450px;

    object-fit:cover; /* giu dung ti le anh cho vua khung */

    border-radius:15px;
    

}

.featured-card h3{

    font-size:37px;

    color: yellow;


}

.featured-content {
    font-size: 22px;

    display: flex;

    flex-direction: column;

    gap: 20px;

    padding: 30px;

}

#featured-detail-btn {
    align-self: center;
}



/* Top Rated Anime */
.top-rated {
    padding: 60px 40px;
    
}

.top-rated h2 {
    font-size: 40px;
    margin-bottom: 25px;
    color: yellow;
}

.movie-grid {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 70px;

    max-width: 1700px;

    margin: 0 auto;
}

.movie-grid h3 {

    font-size: 22px;

    margin: 5px;

    color: yellow;

    text-align: center;
}

.top-rated .rating {
    font-size: 19px;
    color: yellow;
    margin: 5px;
    
}

.top-rated .top-button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 30px;
    font-size: 18px;

}

.movie-card .detail-btn {
    text-decoration: none;

    padding: 12px 20px;

    display: flex; 
    

    background-color: yellow;
    color: black;

    border-radius: 25px;

    font-size: 16px;

    display: inline-block;

    margin: 10px;

    cursor: pointer;
}

.movie-card .favorite-btn {
    text-decoration: none;

    padding: 12px 20px;

    display: flex; 
    

    background-color: rgba(255, 255, 255, 0);
    color: black;

    border-radius: 25px;

    font-size: 27px;

    display: inline-block;

    margin: 10px;

    border: none;

    cursor: pointer;
}





.movie-card {

    background: rgba(255,255,255,0.1);

    max-width: 350px;

    border-radius:15px;

    overflow:hidden;

    transition:0.3s;

    text-align: center;
}



.movie-card img {

    width:100%;

    height:500px;

    object-fit:cover;
}

.movie-card h3 {

    margin:10px;

    font-size:22px;
}

.movie-card p {

    margin:18px;

    color: white;

    font-size:20px;
}

.movie-card:hover {

    transform:translateY(-10px);

}

/* Genres */
.genres h2 {
    font-size: 40px;
    color: yellow;
    padding: 40px;
}

.genres button {
    background-color: yellow;
    font-size: 17px;
    border-radius: 20px;
    padding: 10px 50px;
    cursor: pointer;
}

.genre-filter button:hover {
    background-color: orange;
}

.genre-filter {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
    padding: 0px 60px;

}

.genre-filter button.active {
    background-color: orange;
}

#genre-anime-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1700px;
    gap: 70px;

}

.genres {
    padding: 60px 40px;
}


/* Footer */

footer {
    background: rgba(0,0,0,0.8); /* tao nen mo cho footer */
    padding: 30px 40px;
    margin-top: 60px; /* khoang cach giua footer va genres */
}

footer h2 {
    font-size: 30px;
    text-align: center;
    color: yellow;
    margin-bottom: 10px;
}

.footer-description {
    text-align: center;
    margin-bottom: 40px;
    color: #ccc;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    
}

.footer-section {
    flex: 1; /* chiem 1/3 chieu rong cua footer - vi co 3 .footer-section */
    display: flex;
    flex-direction: column;
    align-items: center;


}

.footer-section h3 {
    margin-bottom: 10px;
    color: yellow;
}

.footer-links,
.footer-social {
    list-style: none; /* xoa dau cham */
    cursor: pointer;
}

.footer-links a,
.footer-social a {
    color: white;
    text-decoration: none; /* xoa gach chan */
    margin-bottom: 10px; /* khoang cach moi dong */
    transition: 0.3s;
}

.footer-links a:hover,
.footer-social a:hover {
    color: orange; /* doi mau khi di chuot vao */
}

.copyright {
    text-align: center;
    margin-top: 40px;
    color: gray;
    font-size: 14px;
}

/* Login-Register Form */
.login-modal,
.register-modal {
    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, .7);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal.hidden,
.register-modal.hidden {
    display: none;
}

.login-box h2,
.register-form h2 {
    font-size: 27px;
    text-align:center;
    margin-bottom:20px;
}


.login-modal,
.register-modal {
    position:fixed; /* co dinh box */
    inset:0; /* modal phu kin toan bo man hinh */

    background:rgba(0,0,0,.7);

    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box,
.register-form{ /* hop dang nhap */
    position: relative;

    background:#1f1f1f;
    padding:30px;
    border-radius:12px;
    width:400px; /* chieu rong hop */

}

.login-box input,
.register-form input { /* khung input */
    width:100%;
    padding:10px;

}

.login-box p,
.register-form p {
    display: flex;
    gap: 40px;
    margin-right: 10px;
    margin-top: 10px;
}

.login-box p a,
.register-form p a {
    color: yellow;
}

.close-btn,
.register-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

}


.email-error,
.password-error,
.username-error,
.register-email-error,
.register-password-error {
    color: red;

    font-size: 14px;

    margin-bottom: 10px;
}

.login-form button,
.register-form button {
    background-color: yellow;
    border-radius: 15px;
    width: 70px;

}

.login-box .close-btn,
.register-form .register-close-btn {
    width: 40px;
    font-size: 20px;
    background-color: yellow;
    border-radius: 10px;
    cursor: pointer;
}

.login-box .close-btn:hover {
    background-color: orange;
}

.register-form .register-close-btn:hover {
    background-color: orange;
}

/* Search Div */
.search-result-div {
    display: none;
    position: relative;
}

.search-result-div.active {
    background-color: rgba(0,0,0,.9);
    display: block;
    top: 100%;
    left: 0;
    width: 100%;
}
.search-result-div.active h2{
    font-size: 35px;
    color: yellow;
    margin: 30px;
    display: flex;
    justify-content: center;
}

#search-result {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    margin: 0 50px;
}

.search-btn {
    cursor: pointer;
}

#close-search {
    position: absolute;
    top: 10px;
    right: 15px;

    background: none;
    border: none;

    color: yellow;
    font-size: 32px;
    font-weight: bold;

    cursor: pointer;
}

#close-search:hover {
    color: red;
    transform: scale(1.2);
}

/* Fav Navbar */
.fav-result-div {
    display: none;
    position: relative;
}


.fav-result-div.active {
    display: block;

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    z-index: 9999;

    overflow-y: auto;

    background-color: rgba(0, 0, 0, 0.9);
}

#favorite-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    width: 100%;
    height: auto;
    max-height: none;

    overflow: visible;

}

.fav-result-div h2 {
    margin: 30px;

    color: yellow;

    font-size: 30px;
}


#close-favorite {
    position: absolute;
    top: 10px;
    right: 15px;

    background: none;
    border: none;

    color: yellow;
    font-size: 32px;
    font-weight: bold;

    cursor: pointer;
}


#close-favorite:hover {
    color: red;
    transform: scale(1.2);
}

#favorite-list {
  
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

/* Detail Modal */
.detail-modal {
    display: none;
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    z-index: 9999;
}

.detail-modal.active {
    display: block;
}

.detail-content {
    position: relative;

    width: 80%;
    max-width: 900px;

    max-height: 80vh;

    margin: 5% auto;
    padding: 30px;

    background-color: #121212;

    border-radius: 10px;

    overflow-y: auto; /* Nếu nội dung dài hơn chiều cao Modal thì xuất hiện thanh cuộn dọc. */
}

/* Detail Info */

#detail-info {
    color: white;
}


/* Anime Title */

#detail-info h2 {
    margin-bottom: 20px;

    color: yellow;

    font-size: 30px;

    text-align: center;
}


/* Anime Poster */

#detail-info img {
    display: block;

    width: 250px;
    height: 350px;

    margin: 0 auto 20px;

    object-fit: cover;

    border-radius: 10px;
}


/* Thông tin Anime */
.detail-meta {
    margin-top: 20px;
    padding: 20px;

    background-color: rgba(255, 255, 255, 0.05);

    border-radius: 10px;
}


/* Từng thông tin */
.detail-meta p {
    margin-bottom: 10px;

    color: #ddd;

    line-height: 1.5;
}


/* Bỏ margin của dòng cuối */
.detail-meta p:last-child {
    margin-bottom: 0;
}


/* Khu vực Synopsis */
.detail-synopsis {
    margin-top: 30px;

    padding-top: 25px;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
}


/* Tiêu đề Synopsis */
.detail-synopsis h3 {
    margin-bottom: 15px;

    color: yellow;

    font-size: 22px;
}


/* Nội dung Synopsis */
.detail-synopsis p {
    color: #ccc;

    line-height: 1.7;

    text-align: justify;
}

#close-detail {
    position: absolute;

    top: 10px;
    right: 15px;

    background: none;
    border: none;

    color: yellow;

    font-size: 32px;

    cursor: pointer;
}

.detail-meta p {
    margin-bottom: 10px;
}

.detail-meta p:last-child {
    margin-bottom: 0;
}

/* Back-to-top */
#back-to-top {
    position: fixed;

    bottom: 30px;
    right: 30px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: yellow;
    color: black;

    font-size: 22px;

    cursor: pointer;

    display: none;

    z-index: 9999;

    transition: .3s;
}

#back-to-top:hover {
    transform: scale(1.1);
    background: orange;
}